@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Crimson+Pro:ital,wght@0,200..900;1,200..900&family=DM+Serif+Text:ital@0;1&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Kodchasan:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Special+Gothic+Expanded+One&display=swap');
@import "tailwindcss";




/* heading font  */
.heading {
  font-family: "Kodchasan", sans-serif;
  font-weight: 800;
  font-style: normal;
  color: #2b2b44;
}